<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{product.edit.title}">Koreguoti produktą</title>
</head>
<div th:replace="fragments/head"></div>

<body>
<div th:replace="fragments/main :: menu"></div>

<div class="parent-container">
    <div class="form-group">
        <form th:action="@{/public/product/edit-product}" method="POST" th:object="${product}">
            <div class="container-fluid">
                <h1 th:text="#{product.edit.title}">Koreguoti produktą</h1>

                <input type="hidden" id="tfId" th:field="*{id}" th:value="*{id}">
                <label for="tfName" th:text="#{product.table.name}">Pavadinimas:</label>
                <input class="form-control" id="tfName" type="text" th:field="*{name}" th:value="*{name}"
                       required/><br/>
                <label for="tfInstock" th:text="#{product.table.in-stock}">Kiekis:</label>
                <input class="form-control" id="tfInstock" type="number" th:field="*{inStock}" th:value="*{inStock}"
                       required/><br/>
                <label for="tfPrice" th:text="#{product.table.price}">Kaina:</label>
                <input class="form-control" id="tfPrice" type="number" th:field="*{price}" th:value="*{price}"
                       required/><br/>
                <label for="tfDescription" th:text="#{product.edit.description}">Aprašymas:</label>
                <textarea class="form-control" id="tfDescription" th:field="*{description}" th:value="*{description}"
                          required></textarea><br/>
                <div th:replace="fragments/main :: submit-button (txt=#{product.edit.save})"></div>
            </div>
        </form>

    </div>
</div>

<div th:replace="fragments/main :: footer"></div>

</body>
</html>