<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{product.rename.title}">Keisti produkto pavadinimą</title>
</head>
<div th:replace="fragments/head"></div>

<body>
<div th:replace="fragments/main :: menu"></div>

<div class="parent-container">
<form th:action="@{/product/edit-name}" method="POST" th:object="${product}">

        <div class="container-fluid">
            <h1 th:text="#{product.rename.title}">Keisti produkto pavadinimą</h1>
            <div class="form-group">
                <input type="hidden" id="tfId" th:field="*{id}" th:value="*{id}" >
                <label th:text="#{product.table.name}" for="tfName">Pavadinimas:</label>
                <input class="form-control" id="tfName" type="text" th:field="*{name}" th:value="*{name}" required/><br/>
            </div>
            <div th:replace="fragments/main :: submit-button (txt=#{product.edit.save})"></div>
        </div>
</form>
</div>

<div th:replace="fragments/main :: footer"></div>

</body>
</html>