<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{product.title}">Produktas</title>
</head>
<div th:replace="fragments/head"></div>
<body>
<div th:replace="fragments/main :: menu"></div>

    <div class="jumbotron">
        <h1 class="display-4" th:text="${product.getName}"></h1>
        <p class="lead" th:text="${product.getDescription}"></p>
        <hr class="my-4">
        <p th:text="#{product.table.price} + ': '+ ${product.getPrice} + ' ' + #{product.currency} + '.'"></p>
        <p th:text="#{product.table.in-stock} + ': ' + ${product.getInStock()} + ' ' + #{product.count} + '.'"></p>
        <p>
            <a th:href="@{/product}" th:text="#{product.return}"></a>
        </p>
    </div>

<div th:replace="fragments/main :: footer"></div>

</body>
</html>