<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <title th:text="#{product.table.title}">Produktų Sąrašas</title>
    <div th:replace="fragments/head"></div>
</head>

<body>
<div th:replace="fragments/main :: menu"></div>

<div class="container">
    <h1 th:text="#{product.table.title}">Produktų sąrašas:</h1>
    <table class="table table-hover">
        <thead class="thead-dark">
        <tr>
            <th scope="col">
                <a class="btn text-light font-weight-bold disabled">
                <span th:text="ID">
                    ID
                </span>
                </a>
            </th>

            <th scope="col">
                <a class="btn text-light font-weight-bold"
                   th:with="direction=${productsPage.sort.getOrderFor('name')?.direction}"
                   th:href="@{?sort=name,{dir}(dir=${direction?.name() == 'ASC' ? 'DESC' : 'ASC'})}">
                    <span th:text="#{product.table.name}">
                        Pavadinimas
                    </span>
                    <i th:if="${direction != null}"
                       class="fas" th:classappend="${direction.ascending ? 'fa-arrow-down' : 'fa-arrow-up'}"></i>
                </a>
            </th>

<!--            -&#45;&#45;-->
<!--            <th:block th:include="fragments/table :: header (field='inStock', text=#{product.table.in-stock}, sorting=true)" th:object="${productsPage}"></th:block>-->
<!--            -&#45;&#45;-->
            <th scope="col">

                <a class="btn text-light font-weight-bold"
                   th:with="direction=${productsPage.sort.getOrderFor('inStock')?.direction}"
                   th:href="@{?sort=inStock,{dir}(dir=${direction?.name() == 'ASC' ? 'DESC' : 'ASC'})}">
                    <span th:text="#{product.table.in-stock}">
                        Kiekis
                    </span>
                    <i th:if="${direction != null}"
                       class="fas" th:classappend="${direction.ascending ? 'fa-arrow-down' : 'fa-arrow-up'}"></i>
                </a>
            </th>

            <th scope="col">
                <a class="btn text-light font-weight-bold"
                   th:with="direction=${productsPage.sort.getOrderFor('price')?.direction}"
                   th:href="@{?sort=price,{dir}(dir=${direction?.name() == 'ASC' ? 'DESC' : 'ASC'})}">
                    <span th:text="#{product.table.price}">
                        Kaina
                    </span>
                    <i th:if="${direction != null}"
                       class="fas" th:classappend="${direction.ascending ? 'fa-arrow-down' : 'fa-arrow-up'}"></i>
                </a>
            </th>

            <th scope="col">
                <a class="btn text-light font-weight-bold disabled">
                <span th:text="#{product.table.action}">
                    Veiksmai
                </span>
                </a>
            </th>
            <th scope="col">
                <a class="btn text-warning font-weight-bold" th:href="@{'/product/new'}">
                <span th:text="'+'">
                    +
                </span>
                </a>
            </th>

        </tr>
        </thead>

        <th:block th:if="${productsPage.empty}">
            <p>Produktų nėra</p>
        </th:block>
        <th:block th:if="${not productsPage.empty}">

            <tbody>
            <tr th:each="product: ${productsPage}">
                <th scope="row" th:text="${product.id}"></th>
                <td><a th:href="@{'/product/' + ${product.id}}" class="btn text-info" th:text="${product.name}"></a>
                </td>
                <td th:text="${product.inStock} + ' vnt.'"></td>
                <td th:text="${product.price} + ' €'"></td>
                <td>
                    <a th:include="fragments/button :: icon (url='/product/edit-name/', icon='RENAME')"
                       th:object="${product}"></a>
                    <a th:include="fragments/button :: icon (url='/product/edit-product/', icon='EDIT')"
                       th:object="${product}"></a>
                    <a th:include="fragments/button :: icon (url='/product/delete/', icon='DELETE')"
                       th:object="${product}"></a>
                    <a th:include="fragments/button :: icon (url='/cart/add/', icon='CART')"
                       th:object="${product}"></a>
            </tr>
            </tbody>

        </th:block>
    </table>

    <div th:replace="fragments/button :: default (url='/product/new', text='Pridėti naują')"></div>
    <div th:include="fragments/main :: pagination" th:object="${productsPage}">
    </div>
</div>
<div th:replace="fragments/main :: footer"></div>

</body>


</html>