<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{user.new.title}">Naujo Vartotojo Pridėjimas</title>
</head>
<div th:replace="fragments/head"></div>

<body>
<div th:replace="fragments/main :: menu"></div>

<div class="parent-container">
    <form th:action="@{/private/user}" method="POST" th:object="${user}">

        <div class="container-fluid">
            <h1 th:text="#{user.new.title}">Naujas vartotojas</h1>

            <div class="form-group">
                <label th:text="#{user.new.username}" for="tfUsername">Vartotojo vardas</label>
                <input class="form-control" id="tfUsername" type="text" th:field="*{username}"/>
                <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="alert alert-danger"
                     role="alert"></div>

                <label th:text="#{user.new.password}" for="tfPassword">Slaptažodis</label>
                <input class="form-control" id="tfPassword" type="password" th:field="*{password}"/>
                <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="alert alert-danger"
                     role="alert"></div>

                <label th:text="#{user.new.phone}" for="tfPhoneNo">Telefono Nr.</label>
                <input class="form-control" id="tfPhoneNo" type="text" th:field="*{phone}"/>
                <div th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}" class="alert alert-danger"
                     role="alert"></div>

                <label th:text="#{user.new.zip}" for="tfZip">Pašto kodas</label>
                <input class="form-control" id="tfZip" type="text" th:field="*{zip}"/>
                <div th:if="${#fields.hasErrors('zip')}" th:errors="*{zip}" class="alert alert-danger"
                     role="alert"></div>

                <label th:text="#{user.new.avatar}" for="tfAvatar">Paveikslėlio URL</label>
                <input class="form-control" id="tfAvatar" type="text" th:field="*{avatar}">
                <div th:if="${#fields.hasErrors('avatar')}" th:errors="*{avatar}" class="alert alert-danger"
                     role="alert"></div>
            </div>
            <button class="btn btn-primary" type="submit" th:text="#{user.new.save}">Saugoti</button>
        </div>
    </form>
</div>

<div th:replace="fragments/main :: footer"></div>

</body>
</html>