<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{user.profile.title}">Vartotojo Profilis</title>
</head>
<div th:replace="fragments/head"></div>

<body>

<div th:replace="fragments/main :: menu"></div>

<div class="container">
    <div class="card" th:object="${user}">
        <div class="card-body">
            <div class="d-flex flex-column align-items-center text-center">
                <img th:if="*{avatar == null}" src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="150">
                <img th:if="*{avatar != null}" th:src="*{avatar}" alt="my avatar" class="rounded-circle" width="150">
                <div class="mt-3">
                    <h4 th:text="*{username}"></h4>
                    <p class="text-secondary mb-1" th:text="*{phone}"></p>
                    <p class="text-muted font-size-sm" th:text="*{zip}"></p>
                </div>
                <div class="mt-1">
                    <a th:href="@{/private/user}"><button class="btn btn-bg bg-warning text-white">Vartotoju sarasas</button></a>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/main :: footer"></div>
</body>
</html>