<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title th:text="#{user.table.title}">Vartotojų Sąrašas</title>
</head>

<div th:replace="fragments/head"></div>

<body>
<div th:replace="fragments/main :: menu"></div>

<div class="container">
    <h1 th:text="#{user.table.title}">Vartotojų sąrašas:</h1>
    <table class="table table-hover">
        <thead class="thead-dark">
        <tr>
            <th scope="col">
                <a class="btn text-light font-weight-bold disabled">
                <span th:text="ID">
                    ID
                </span>
                </a>
            </th>

            <th scope="col">
                <a class="btn text-light font-weight-bold"
                   th:with="direction=${usersPage.sort.getOrderFor('username')?.direction}"
                   th:href="@{?sort=username,{dir}(dir=${direction?.name() == 'ASC' ? 'DESC' : 'ASC'})}">
                    <span th:text="#{user.table.username}">
                        Vartotojo Vardas
                    </span>
                    <i th:if="${direction != null}"
                       class="fas" th:classappend="${direction.ascending ? 'fa-arrow-down' : 'fa-arrow-up'}"></i>
                </a>
            </th>

            <th scope="col">
                <a class="btn text-light font-weight-bold"
                   th:with="direction=${usersPage.sort.getOrderFor('phone')?.direction}"
                   th:href="@{?sort=phone,{dir}(dir=${direction?.name() == 'ASC' ? 'DESC' : 'ASC'})}">
                    <span th:text="#{user.table.phone}">
                        Telefono Nr.
                    </span>
                    <i th:if="${direction != null}"
                       class="fas" th:classappend="${direction.ascending ? 'fa-arrow-down' : 'fa-arrow-up'}"></i>
                </a>
            </th>

            <th scope="col">
                <a class="btn text-light font-weight-bold"
                   th:with="direction=${usersPage.sort.getOrderFor('zip')?.direction}"
                   th:href="@{?sort=zip,{dir}(dir=${direction?.name() == 'ASC' ? 'DESC' : 'ASC'})}">
                    <span th:text="#{user.table.zip}">
                        Pašto kodas
                    </span>
                    <i th:if="${direction != null}"
                       class="fas" th:classappend="${direction.ascending ? 'fa-arrow-down' : 'fa-arrow-up'}"></i>
                </a>
            </th>

            <th scope="col">
                <a class="btn text-light font-weight-bold disabled">
                <span th:text="#{user.table.avatar}">
                    Paveikslėlio URL
                </span>
                </a>
            </th>

        </tr>
        </thead>

        <th:block th:if="${usersPage.empty}">
            <p>Vartotojų nėra</p>
        </th:block>
        <th:block th:if="${not usersPage.empty}">
            <tbody>
            <tr th:each="user: ${usersPage}">
                <th scope="row" th:text="${user.id}"></th>
                <td><a th:href="@{'/private/user/' + ${user.id}}" class="btn text-info" th:text="${user.username}"></a>
                </td>
                <td th:text="${user.phone}"></td>
                <td th:text="${user.zip}"></td>
                <td th:text="${user.avatar.length()>30?user.avatar.substring(0,30) + '...': user.avatar}"></td>
            </tr>
            </tbody>
        </th:block>
    </table>

    <div sec:authorize="hasRole('ADMIN')"
         th:replace="fragments/button :: default (url='/private/user/new', text='Pridėti naują')"></div>
    <div th:include="fragments/main :: pagination (urlPrefix='/private/user/')" th:object="${usersPage}"></div>


</div>

<div th:replace="fragments/main :: footer"></div>

</body>

</html>